<div class="center jumbotron">
<h1>Grubpedia</h1>  

<h2>
  Your place to store and share your favorite recipes &mdash; and discover new ones too!
</h2>

<%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class= "midrow>">
         View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and View Recipes As a Guest and Sign-Up</h2>
    <hr/>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class= "midrow>">
      Sign In to Your Account
    </h3>
    <h2 class="left">Add/update your recipes/create reviews/like-dislike recipes, and much much more!</h2>
    <hr/>
    <p><%= link_to "Login to Your Account", login_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class= "midrow>">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a guest and Sign up later</h2>
    <hr/>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>